@tailwind base;
@tailwind components;
@tailwind utilities;

/* #heading{
    color: rebeccapurple;
}

.header-container{
 display: flex;
 justify-content: space-between;
 padding: 15px 20px;
 border: 1px solid black;
}

.header-list {
     display: flex;
     list-style: none;
     font-size : 1.1rem;
     
}

.res-name{
    height:50px;
}

.res-card {
     width:220px;
     height:320px;
     padding: 10px;
     margin : 20px 5px;
     background-color: #ffffff;
  border-radius: 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);   

}

.res-card:hover {
  
  
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    
}

.card-img {
    width: 100%;
    height: 50%;

}

.header-list >li {
    margin-right: 5px;
    padding: 5px;

    
}

.logo-img {
    width: 120px;
    height: auto;
}


.card-container {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.ratings{
     background-color: #36D399;
     color:#ffffff;
     border-radius: 1px;
     padding: 2px;
     width: fit-content;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.shimmer-card {
    width:220px;
    height:320px;
    padding: 10px;
    margin : 20px 5px;
    background-color: #f0f0f0;
 border-radius: 10px;  

} */